@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 270 20% 30%;
    --card: 0 0% 100%;
    --card-foreground: 270 20% 30%;
    --popover: 0 0% 100%;
    --popover-foreground: 270 20% 30%;
    --primary: 40 91% 50%;
    --primary-foreground: 270 30% 25%;
    --secondary: 187 100% 42%;
    --secondary-foreground: 0 0% 100%;
    --muted: 270 30% 93%;
    --muted-foreground: 270 15% 45%;
    --accent: 187 100% 42%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 270 20% 90%;
    --input: 270 25% 95%;
    --ring: 187 100% 42%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-purple-50 text-foreground;
  }
}
